@using HangmanOnline.Models.ViewModels
@model GameSession


<div class="player-one-hearths-container">
    <h1>@Model.FirstPlayerName</h1>
@for(int i = 0; i < @Model.FirstPlayerHearts; i++)
{
    <img class="player-hearths" src="~/hearth.png" />
}
</div>

<div class="player-two-hearths-container">
    <h1>@Model.SecondPlayerName</h1>
@for(int i = 0; i < @Model.SecondPlayerHearts; i++)
{
    <img class="player-hearths" src="~/hearth.png" />
}
</div>

<div class="logo">
    <img src=~/hangman.png/>
</div>


<div class="letter-container">
@foreach(char letter in @Model.Word){
        <div class="letter"></div>
}
</div>

<div class="input-container">
    <input class="put-letter" type="text" maxlength=1/>
    <a class="submit-btn">GO</a>
</div>